<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Vh_Assistant>
      <version>0.1.0</version>
    </Vh_Assistant>
  </modules>
  <frontend>
    <routers>
      <assistant>
        <use>standard</use>
        <args>
          <module>Vh_Assistant</module>
          <frontName>vote</frontName>
        </args>
      </assistant>
    </routers>
    <layout>
      <updates>
        <assistant>
          <file>vh/assistant.xml</file>
        </assistant>
      </updates>
    </layout>
  </frontend>
  <global>
    <rewrite>
      <vh_assistant_index_index>
        <from>
          <![CDATA[#^/assistant/#]]>
        </from>
        <to>/assistant/index/index/</to>
        <complete>1</complete>
      </vh_assistant_index_index>
    </rewrite>
    <helpers>
      <assistant>
        <class>Vh_Assistant_Helper</class>
      </assistant>
    </helpers>
    <blocks>
      <assistant>
        <class>Vh_Assistant_Block</class>
      </assistant>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_answer_edit_form>Vh_Assistant_Block_Adminhtml_Poll_Answer_Edit_Form</poll_answer_edit_form>
        </rewrite>
      </adminhtml>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_edit_tab_answers_list>Vh_Assistant_Block_Adminhtml_Poll_Edit_Tab_Answers_List</poll_edit_tab_answers_list>
        </rewrite>
      </adminhtml>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_grid>Vh_Assistant_Block_Adminhtml_Poll_Grid</poll_grid>
        </rewrite>
      </adminhtml>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_edit>Vh_Assistant_Block_Adminhtml_Poll_Edit</poll_edit>
        </rewrite>
      </adminhtml>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_poll>Vh_Assistant_Block_Adminhtml_Poll_Poll</poll_poll>
        </rewrite>
      </adminhtml>
    </blocks>
    <blocks>
      <adminhtml>
        <rewrite>
          <poll_edit_tab_form>Vh_Assistant_Block_Adminhtml_Poll_Edit_Tab_Form</poll_edit_tab_form>
        </rewrite>
      </adminhtml>
    </blocks>
    <models>
      <vh_assistant>
        <class>Vh_Assistant_Model</class>
      </vh_assistant>
    </models>
    <events>
      <controller_action_predispatch_review_product_post>
        <observers>
          <uniqueme0>
            <class>vh_assistant/observer</class>
            <method>saveProductVideoReviewUrl</method>
          </uniqueme0>
        </observers>
      </controller_action_predispatch_review_product_post>
    </events>
    <events>
      <review_save_after>
        <observers>
          <uniqueme1>
            <class>vh_assistant/observer</class>
            <method>saveProductVideoReview</method>
          </uniqueme1>
        </observers>
      </review_save_after>
    </events>
    <events>
      <controller_action_postdispatch_adminhtml_poll_save>
        <observers>
          <uniqueme2>
            <class>vh_assistant/observer</class>
            <method>saveVirginHairPoll</method>
          </uniqueme2>
        </observers>
      </controller_action_postdispatch_adminhtml_poll_save>
    </events>
    <events>
      <controller_action_predispatch_adminhtml_poll_new>
        <observers>
          <uniqueme3>
            <class>vh_assistant/observer</class>
            <method>markNewPoll</method>
          </uniqueme3>
        </observers>
      </controller_action_predispatch_adminhtml_poll_new>
    </events>
   <events>
      <sales_order_place_after>
        <observers>
          <uniqueme4>
            <class>vh_assistant/observer</class>
            <method>saveSettingsAfter</method>
          </uniqueme4>
        </observers>
      </sales_order_place_after>
      <controller_action_predispatch_checkout_cart_index>
        <observers>
          <uniqueme5>
            <class>vh_assistant/observer</class>
            <method>saveSettingsBefore</method>
          </uniqueme5>
        </observers>
      </controller_action_predispatch_checkout_cart_index>
      <controller_action_predispatch>
        <observers>
          <uniqueme7>
            <class>vh_assistant/observer</class>
            <method>saveSettingsBefore</method>
          </uniqueme7>
        </observers>
      </controller_action_predispatch>
      <controller_action_postdispatch>
        <observers>
          <uniqueme8>
            <class>vh_assistant/observer</class>
            <method>redirectWithMessage</method>
          </uniqueme8>
        </observers>
      </controller_action_postdispatch>
    </events>
    <events>
      <controller_action_postdispatch_customer_account_login>
        <observers>
          <uniqueme6>
            <class>vh_assistant/observer</class>
            <method>markLoginReferrer</method>
          </uniqueme6>
        </observers>
      </controller_action_postdispatch_customer_account_login>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Vh_Assistant before="Mage_Adminhtml">Vh_Assistant_Adminhtml</Vh_Assistant>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <cms>
        <children>
          <assistant module="assistant">
            <title>Virgin Hair Style Polls</title>
            <sort_order>1000</sort_order>
            <action>adminhtml/poll/styles</action>
          </assistant>
        </children>
      </cms>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <cms>
              <children>
                <assistant translate="title" module="assistant">
                  <title>Virgin Hair Style Polls</title>
                  <sort_order>1000</sort_order>
                </assistant>
              </children>
            </cms>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
